<html>
  <header>
    <meta charset="utf-8" />
    <title>Work</title>
  </header>
  <body>
    <section>
      <h3>My Work</h3>
      <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit,
        veniam omnis odit corrupti reiciendis aut placeat eaque itaque in,
        suscipit ipsum. Expedita architecto nihil nam error perspiciatis aperiam
        corporis!
      </article>

      <article>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi sint
        aspernatur culpa temporibus perferendis quisquam voluptatibus earum
        beatae voluptate pariatur expedita optio voluptatum illum a quis,
        repudiandae soluta quam distinctio.
      </article>
    </section>
  </body>
</html>
